.country-name {
  margin-left: 6px;
}

.dial-code {
  color: #999;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  width: 350px;
  overflow-x: hidden;
}
.flagInput {
  padding: 0 !important;
}

.input-group-addon {
  text-align: left;
}

.btn-flag {
  border-color: white;
}

.btn:hover, .btn:focus{
  background-color: white;
}

.defaultCountry {
  background:url('https://res.cloudinary.com/dvbuhh0bl/image/upload/c_scale,h_15,w_15/v1495279723/default_tmey2r.png') no-repeat;
  display:inline-block;
  width:15px;
  height:15px;
}

.list-group {
  margin-bottom: 0;
}


/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.arrow-down {
  display: inline-block;
  vertical-align: text-top;
  margin-top: 5px;
  margin-left: 2px;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #444;
}